@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style ="color:black;font-size:70px;font-weight:bold" >Bienvenido a la Universidad De Las Americas</h1>
    <h1 style="color:gray;font-size:15px;font-weight:bold">Autor: Jorge Nicolas Negrete Viteri</h1>
    
    
</div>
